/* Styling for the right panel */

// The entire right panel
div#div_fullRightPanel.rightPanel {
  // Extracted from in-line styling
  float:right; vertical-align:top; width:303px; text-align:left; padding:0; margin:0; background-color:white;

  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  // Add a shadow so it's clear the element is above the other contents
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.23);
  // Move panel off to the side
  -webkit-transform: translateX(80%);
  -moz-transform: translateX(80%);
  -ms-transform: translateX(80%);
  -o-transform: translateX(80%);
  transform: translateX(80%);

  #div_rightPanel {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    // Hide right panel contents when out of focus
    display: none;
  }
  #side-menu-title .title-text {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    // Fade out title text when collapsed
    opacity: 0;
  }


  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);

    // Display hidden contents when expanded
    #div_rightPanel {
      display: block;
    }
    #side-menu-title .title-text {
      opacity: 1;
    }
  }
}

/* Arrow to indicate that the panel will move on hover
 * CSS courtesy of https://codepen.io/jonneal/pen/kptBs
 */
.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.25em;
  position: relative;
  top: 0.15em;
  transform: rotate(-135deg);
  vertical-align: top;
  width: 0.45em;
}